{
    "pb_api_key": "your_pb_api_key_here",
    "items": {
        "skus": [
            "04549650XLRB02",
            "0454964NS32GR01"
        ],
        "stocks": [
            "no",
            "no"
        ]
    }
}